<html>
  <body>
    <table>
      <tr valign="top">
        <td>Anmeldungsdatum:</td>
        <td>{{registration_date}}</td>
      </tr>
      <tr valign="top">
        <td>Vorname:</td>
        <td>{{first_name}}</td>
      </tr>
      <tr valign="top">
        <td>Nachname:</td>
        <td>{{last_name}}</td>
      </tr>
      <tr valign="top">
        <td>Geburtsdatum:</td>
        <td>{{birthday}}</td>
      </tr>
      <tr valign="top">
        <td>Straße und Hausnr:</td>
        <td>{{address}}</td>
      </tr>
      <tr valign="top">
        <td>Stadt:</td>
        <td>{{city}}</td>
      </tr>
      <tr valign="top">
        <td>Postleitzahl:</td>
        <td>{{postal_code}}</td>
      </tr>
      <tr valign="top">
        <td>Telefonnummer:</td>
        <td>{{phone}}</td>
      </tr>
      <tr valign="top">
        <td>E-Mail:</td>
        <td>{{email}}</td>
      </tr>
      <tr valign="top">
          <td>Trainingszeiten:</td>
          <td>{{training_time}}</td>
      </tr>
      <tr valign="top">
        <td>Trainingsort:</td>
        <td>{{training_location}}</td>
      </tr>
      <tr valign="top">
        <td>Weitere Hinweise:</td>
        <td style="white-space: pre;">{{comments}}</td>
      </tr>
    </table>
  </body>
</html>
